@keyframes pulse {
    0% {
        background-color: #ffffff;
    }

    50% {
        background-color: #f0f0f0;
    }

    100% {
        background-color: #ffffff;
    }
}

.loading {
    animation: pulse 1s infinite !important;
}